<!--4th container begin-->
<div class="container white">

	<div id="footer" class="row">
		
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<img class="logo" src="images/img-logo.png"/>
			<p class="cr">
				Termeni si conditii. Politica de cookies<br/>
				Toate drepturile de autor rezervate platformei.
     		</p>
      		<ul class="d-inline">
				<li href="#" class="btn btn-link d-inline"><span class="fab fa-linkedin"></span></li>
				<li href="#" class="btn btn-link d-inline"><span class="fab fa-twitter-square"></span></li>
      			<li href="#" class="btn btn-link d-inline"><span class="fab fa-google-plus-g"></span></li>
				<li href="#" class="btn btn-link d-inline"><span class="fab fa-facebook-square"></span></li>
      		</ul>
		</div>
		
		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
			<ul>
				<li class="btn btn-link" role="button"><span class="far fa-newspaper"></span> articole și sfaturi</li>
				<div class="clearfix visible-xs"></div>
				<li class="btn btn-link" role="button"><span class="glyphicon glyphicon-picture"></span> fotografii</li>
				<div class="clearfix visible-xs"></div>
				<li class="btn btn-link" role="button"><span class="glyphicon glyphicon-briefcase"></span> găsește profesioniști</li>
				<div class="clearfix visible-xs"></div>
				<li class="btn btn-link" role="button"><span class="fas fa-shopping-cart"></span> gasește produse</li>
			</ul>			
		</div>
		
		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
			<a href="#" class="btn btn-link" name="color" type="radio"><span class="fas fa-user-circle"></span> autentificare</a>
			<div class="clearfix visible-xs"></div>
			<a href="#" class="btn btn-link"><span class="fas fa-user-plus"></span> creeaza cont</a>
			<div class="clearfix visible-xs"></div>
			<a href="#" class="btn btn-link"><span class="fab fa-slideshare"></span> despre noi</a><br>
			<div class="clearfix visible-xs"></div>
			<a href="#" class="btn btn-link"><span class="far fa-question-circle"></span> intrebari frecvente</a>
		</div>
		
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
			<p class="title">newsletter</p>
			<p class="content">Fii la curent cu cele mai noi articole, ideii indraznete si produse de top!<b> Aboneaza-te la newsletter.</b></p>
			<input type="email" class="form-control" id="email" placeholder="Adresa de E-mail" name="email">
			<button type="submit" class="btn btn-default"><span class="far fa-paper-plane"></span>aboneaza-ma</button>
		</div>
			
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<img class="logo" src="images/Logowm.png" />
		</div>
		
	</div>

</div>
<!--4th container end-->
