<!--1st container begin-->
<div class="container">

	<!--1st row begin-->
	<div class="row">
	
		<!--logo begin-->
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<img src="images/img-logo.png" />
		</div>
		<!--logo end-->
		
		<!--top menu begin-->
		<ul class="col-lg-8 col-md-7 col-sm-9 col-xs-2">
			<li class="btn btn-link" role="button"><span class="far fa-newspaper"></span> articole și sfaturi</li>
			<li class="btn btn-link" role="button"><span class="glyphicon glyphicon-picture"></span> fotografii</li>
			<div class="clearfix visible-md visible-sm"></div>
			<li class="btn btn-link" role="button"><span class="glyphicon glyphicon-briefcase"></span> găsește profesioniști</li>
			<li class="btn btn-link" role="button"><span class="fas fa-shopping-cart"></span> gasește produse</li>
		</ul>
		<!--top menu end-->
		
		<!--top login begin-->
		<!--visibility in large, medium, small resolution-->
		<div class="visible-lg visible-md visible-sm col-lg-1 col-md-2 col-sm-2" style="margin-left: -50px;">
			<a href="#" class="btn btn-link" role="button"><span class="fas fa-user-circle"></span> autentificare <span class="fas fa-angle-down"></span></a>
		</div>

		<!--visibility in extra-small resolution-->
		<div class="visible-xs col-xs-12">
			<a href="#" class="btn btn-link" role="button" ><span class="fas fa-user-circle"></span> autentificare <span class="fas fa-angle-down"></span></a>
		</div>
		<!--top login end-->
		
	</div>
	<!--1st row end-->

	<!--2nd row begin-->
	<div class="row">
		
		<!--blank columns for forced alignment-->
		<div class="col-lg-4 col-md-4 col-sm-1"></div>
		
		<!-- search form begin-->
		<div class="col-lg-4 col-md-3 col-sm-4 col-xs-12 form-group center-block">
        	<div class="input-group input-group-md">
                <div class="icon-addon addon-md">
                    <input type="text" placeholder="Caută Produse, Materiale si Prestatori" class="form-control" id="search" />
                     <label class="glyphicon glyphicon-search" ></label>
              	</div>
                    <span class="input-group-btn"><button class="glyphicon glyphicon-menu-down btn btn-default"></button></span>
			</div>
		</div>
    	<!-- search form end-->
     	
     	<!--blank columns for forced alignment-->      	
      	<div class="col-lg-3 col-md-3 col-sm-4"></div>
      	
      	<!--social icons top begin-->
      	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 text-right">
      		
      		<ul class="d-inline">
				<li href="#" class="btn btn-link d-inline"><span class="fab fa-linkedin"></span></li>
				<li href="#" class="btn btn-link d-inline"><span class="fab fa-twitter-square"></span></li>
      			<li href="#" class="btn btn-link d-inline"><span class="fab fa-google-plus-g"></span></li>
				<li href="#" class="btn btn-link d-inline"><span class="fab fa-facebook-square"></span></li>
      		</ul>
      		
      	</div>
      	<!--social icons top end-->

     	<!--blank columns for forced alignment-->      	
      	<div class="col-md-1 col-sm-2"></div>

      	
	</div>  
	<!--2nd row end-->
 	
</div>
<!--1st container end-->